<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-slides pager="true">
      <ion-slide>
        <img src="../../assets/icon/favicon.png" alt="logo" >
        <h1>Tab principal</h1>
        <h2>Subtitulo del slide</h2>
        <p>Parrafo del slide principal</p>
        <ion-icon name="play"></ion-icon>
      </ion-slide>
      <ion-slide>Slide 2</ion-slide>
      <ion-slide>Slide 3</ion-slide>
    </ion-slides>

</ion-content>
